In [1]:
import pandas as pd

In [78]:
df = pd.read_csv("dash_app/data/efia2018.csv")

In [79]:
df.head()

,UNITID,XCDACTUA,CDACTUA,XCNACTUA,CNACTUA,XCDACTGA,CDACTGA,XEFTEUG,EFTEUG,XEFTEGD,EFTEGD,XFTEUG,FTEUG,XFTEGD,FTEGD,XFTEDPP,FTEDPP,ACTTYPE
0,100654,R,147059.0,A,NaN,R,17966.0,G,4902.0,G,749.0,G,4902.0,G,749.0,A,NaN,2
1,100663,R,354112.0,A,NaN,R,150353.0,G,11804.0,G,6265.0,G,11804.0,G,6265.0,R,1185.0,2
2,100690,R,7844.0,A,NaN,R,6139.0,G,261.0,G,256.0,G,261.0,G,256.0,A,NaN,2
3,100706,R,193406.0,A,NaN,R,29388.0,G,6447.0,G,1225.0,G,6447.0,G,1225.0,R,123.0,2
4,100724,R,124091.0,A,NaN,R,7799.0,G,4136.0,G,325.0,G,4136.0,G,325.0,R,117.0,2

In [75]:
xls = pd.ExcelFile("dash_app/data/effy2018.xlsx")

['Introduction',
 'varlist',
 'Description',
 'Frequencies',
 'Statistics',
 'Imputation values']

In [71]:
intro = pd.read_excel(xls, "Introduction")
Overview_and_Note = intro['Unnamed: 1'][4] + "\nNote: \n" + intro['Unnamed: 1'][5]

In [73]:
print(Overview_and_Note)

This file contains the unduplicated head count of students enrolled over a 12-month period for both undergraduate and graduate levels. These enrollment data are particularly valuable for institutions that use non-traditional calendar systems and offer short-term programs. Because this enrollment measure encompasses an entire year, it provides a more complete picture of the number of students these schools serve.  Each record is uniquely defined by the variables IPEDS ID (UNITID), and the level of enrollment (EFFYLEV). Each record will contain the total head count for men and women, and the total headcount for men and women for all nine race/ethnicity categories.

Note:
Preliminary release data have been edited but are subject to further NCES quality control procedures. Imputed data for nonresponding institutions are not included. These data are used for First Look (Preliminary Data) publications. Provisional release data have undergone all NCES data quality control procedures. Data are imputed for nonresponding institutions. These data are used for First Look (Provisional Data) publications. Final release data include revisions to the provisional release data that have been made by institutions during the subsequent data collection year. The final release data can be used when the most up to date data are required; however, these data may not match tables from the First Look reports based on preliminary and provisional data.

In [14]:
df_varlist = pd.read_excel(xls, "varlist")
df_freq = pd.read_excel(xls, "Frequencies")
df_stat = pd.read_excel(xls, "Statistics")
df_desc = pd.read_excel(xls, "Description")
df_imput_vals = pd.read_excel(xls, "Imputation values")

varlist_documentation = intro['Unnamed: 1'][9]
desc_documentation = intro['Unnamed: 1'][10]
freq_documentation = intro['Unnamed: 1'][11]
stat_documentation = intro['Unnamed: 1'][12]
imput_val_documentation = intro['Unnamed: 1'][13]

In [46]:
varlist_documentation

'Variable list: Lists all variables in the table. Includes the variable name, variable label and the Data type, format and maximum field width of each variable.  The data type describes a variable as either a numeric (N) or Alphanumeric (A) and the format of a variable defines a variable as either continuous (Cont) or categorical (Disc).  It all also lists the variable name of all imputation flag variables for each continuous variable. Imputation flag variable describes whether a value for the corresponding variable was reported, imputed or not applicable.'

In [80]:
df_varlist

,varnumber,varname,DataType,Fieldwidth,format,imputationvar,varTitle
0,1,UNITID,N,6,Cont,NaN,Unique identification number of the institution
1,20661,EFFYLEV,N,1,Disc,NaN,Level of student
2,22023,LSTUDY,N,3,Disc,NaN,Original level of study on survey form
3,20781,EFYTOTLT,N,6,Cont,XEYTOTLT,Grand total
4,20736,EFYTOTLM,N,6,Cont,XEYTOTLM,Grand total men
5,20741,EFYTOTLW,N,6,Cont,XEYTOTLW,Grand total women
6,24176,EFYAIANT,N,6,Cont,XEFYAIAT,American Indian or Alaska Native total
7,24111,EFYAIANM,N,6,Cont,XEFYAIAM,American Indian or Alaska Native men
8,24116,EFYAIANW,N,6,Cont,XEFYAIAW,American Indian or Alaska Native women
9,24181,EFYASIAT,N,6,Cont,XEFYASIT,Asian total
10,24121,EFYASIAM,N,6,Cont,XEFYASIM,Asian men
11,24126,EFYASIAW,N,6,Cont,XEFYASIW,Asian women
12,24186,EFYBKAAT,N,6,Cont,XEFYBKAT,Black or African American total
13,24131,EFYBKAAM,N,6,Cont,XEFYBKAM,Black or African American men
14,24136,EFYBKAAW,N,6,Cont,XEFYBKAW,Black or African American women
15,24171,EFYHISPT,N,6,Cont,XEFYHIST,Hispanic or Latino total
16,24101,EFYHISPM,N,6,Cont,XEFYHISM,Hispanic or Latino men
17,24106,EFYHISPW,N,6,Cont,XEFYHISW,Hispanic or Latino women
18,24191,EFYNHPIT,N,6,Cont,XEFYNHPT,Native Hawaiian or Other Pacific Islander total
19,24141,EFYNHPIM,N,6,Cont,XEFYNHPM,Native Hawaiian or Other Pacific Islander men
20,24146,EFYNHPIW,N,6,Cont,XEFYNHPW,Native Hawaiian or Other Pacific Islander women
21,24196,EFYWHITT,N,6,Cont,XEFYWHIT,White total
22,24151,EFYWHITM,N,6,Cont,XEFYWHIM,White men
23,24156,EFYWHITW,N,6,Cont,XEFYWHIW,White women
24,24201,EFY2MORT,N,6,Cont,XEFY2MOT,Two or more races total
25,24161,EFY2MORM,N,6,Cont,XEFY2MOM,Two or more races men
26,24166,EFY2MORW,N,6,Cont,XEFY2MOW,Two or more races women
27,20776,EFYUNKNT,N,6,Cont,XEYUNKNT,Race/ethnicity unknown total
28,20726,EFYUNKNM,N,6,Cont,XEYUNKNM,Race/ethnicity unknown men
29,20731,EFYUNKNW,N,6,Cont,XEYUNKNW,Race/ethnicity unknown women
30,20746,EFYNRALT,N,6,Cont,XEYNRALT,Nonresident alien total
31,20666,EFYNRALM,N,6,Cont,XEYNRALM,Nonresident alien men
32,20671,EFYNRALW,N,6,Cont,XEYNRALW,Nonresident alien women

In [74]:
df_stat

,varnumber,varname,n,sum,mean,min,max,varTitle
0,20781,EFYTOTLT,14941,53804450,3601.127769,1,162762,Grand total
1,20736,EFYTOTLM,14941,23053118,1542.943444,0,73471,Grand total men
2,20741,EFYTOTLW,14941,30751332,2058.184325,0,109753,Grand total women
3,24176,EFYAIANT,14941,384940,25.764005,0,3217,American Indian or Alaska Native total
4,24111,EFYAIANM,14941,151426,10.134931,0,1232,American Indian or Alaska Native men
5,24116,EFYAIANW,14941,233514,15.629074,0,1985,American Indian or Alaska Native women
6,24181,EFYASIAT,14941,3195012,213.841912,0,13349,Asian total
7,24121,EFYASIAM,14941,1463976,97.983803,0,6275,Asian men
8,24126,EFYASIAW,14941,1731036,115.858109,0,7523,Asian women
9,24186,EFYBKAAT,14941,6912526,462.654842,0,33620,Black or African American total
10,24131,EFYBKAAM,14941,2527374,169.156951,0,12251,Black or African American men
11,24136,EFYBKAAW,14941,4385152,293.497892,0,25997,Black or African American women
12,24171,EFYHISPT,14941,9797444,655.742186,0,59977,Hispanic or Latino total
13,24101,EFYHISPM,14941,4045506,270.765411,0,25786,Hispanic or Latino men
14,24106,EFYHISPW,14941,5751938,384.976775,0,34191,Hispanic or Latino women
15,24191,EFYNHPIT,14941,163158,10.920153,0,2667,Native Hawaiian or Other Pacific Islander total
16,24141,EFYNHPIM,14941,72220,4.833679,0,1148,Native Hawaiian or Other Pacific Islander men
17,24146,EFYNHPIW,14941,90938,6.086473,0,1519,Native Hawaiian or Other Pacific Islander women
18,24196,EFYWHITT,14941,26342378,1763.093367,0,116234,White total
19,24151,EFYWHITM,14941,11485908,768.750954,0,55921,White men
20,24156,EFYWHITW,14941,14856470,994.342413,0,68248,White women
21,24201,EFY2MORT,14941,1790948,119.868014,0,5699,Two or more races total
22,24161,EFY2MORM,14941,746096,49.936149,0,2454,Two or more races men
23,24166,EFY2MORW,14941,1044852,69.931865,0,3245,Two or more races women
24,20776,EFYUNKNT,14941,2803364,187.628940,0,54657,Race/ethnicity unknown total
25,20726,EFYUNKNM,14941,1234072,82.596346,0,19708,Race/ethnicity unknown men
26,20731,EFYUNKNW,14941,1569292,105.032595,0,34949,Race/ethnicity unknown women
27,20746,EFYNRALT,14941,2414680,161.614350,0,15911,Nonresident alien total
28,20666,EFYNRALM,14941,1326540,88.785222,0,8212,Nonresident alien men
29,20671,EFYNRALW,14941,1088140,72.829128,0,8077,Nonresident alien women